[package]
name = "tokio-yamux"
version = "0.1.14"
license = "MIT"
repository = "https://github.com/nervosnetwork/p2p"
description = "Rust implementation of Yamux"
authors = ["Linfeng Qian <thewawar@gmail.com>", "Nervos Core Dev <dev@nervos.org>"]
edition = "2018"

[dependencies]
bytes = "0.4"
byteorder = "1.2"
futures = { version = "0.3.0-alpha.18", package = "futures-preview" }
tokio = "0.2.0-alpha.3"
log = "0.4"

[dev-dependencies]
env_logger = "0.6"
rand = "0.6"
